{% extends 'recognition/base.html' %}

{% block content %}
    {% if form %}
    <form action="{% url 'index' %}" method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form }} 
        <button type="submit">Upload</button> 
    </form>
    {% endif %}

    {% if audio_files %}
        <ol>
            {% for a in audio_files %}
                <li>
                    {{a}}
                </li>
            {% endfor %}
        </ol>

    {% endif %}
{% endblock content %}

